#search-container{
	display: grid;
	width: 80%;
	margin-left: 10%;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 50px;
}

#date_table{
	width: 100px;
	border: 1px solid black;
	height: 200px;
}
#date_table tr, td{
	border: 1px solid black;
}

#search-field{
	width: 90%;
	margin-left: 5%;
	padding: 10px 5px;
	box-sizing: border-box;
	margin-top: 16px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	color: gray;
	background-color: white;
}

#search-results{
	border: 1px solid gray;
	width: 90%;
	height: 150px;
	margin-left: 5%;
	box-sizing: border-box;
	padding: 10px 16px;
	margin-top: 20px;
	border-radius: 10px;
	font-style: italic;
	background-color: white;
	color: grey;
	margin-bottom: 20px;
}

#patient-details{
	display: none;
	width: 80%;
	margin-left: 10%;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 20px;
}

#control-div{
	grid-template-columns: 20% 60%;
	width: 80%;
	border-radius: 10px;
	border: 1px solid gray;
	background-color: purple;
	color: white;
	margin-left: 10%;
	margin-top: 20px;
	box-sizing: border-box;
	padding: 10px;
	padding-left: 10px;
}

#emr-btn{
	width: 150px;
	height: 35px;
	outline: 1px solid orange;
	background-color: #4caf50;
	border: 1px solid purple;
	color: white;
	font-size: 16px;
	border-radius: 10px;
}

#emr-btn:hover{
	cursor: pointer;
	outline-color: blue;
}

#chargesheet-btn{
	width: 150px;
	height: 35px;
	outline: 1px solid orange;
	background-color: #4caf50;
	border: 1px solid purple;
	color: white;
	font-size: 16px;
	border-radius: 10px;
}

#chargesheet-btn:hover{
	cursor: pointer;
	outline-color: blue;
}

#c-container
{
	display: grid;
	border: 1px solid gray;
	grid-template-columns: 100%;
	grid-row-gap: 2em;
	width: 80%;
	margin-top: 50px;
	margin-left: 10%;
}
#patient-vitals
{
	display: grid;
	grid-row-gap: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#vitals-container{
	

}

#fetch-v-btn{
	padding: 8px 0;
	border: 1px solid gray;
	background-color: blue;
	color: white;
	outline: 1px solid purple !important;
	width: 150px;
	border-radius: 10px;
	font-weight: bolder;
	font-size: 14px;
	margin-left: 5%;
}

#fetch-v-btn:hover{
	cursor: pointer;
	outline: 1px solid orange!important;
}

table{
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
	text-align: left;
}

th, td{
	padding: 10px 10px;
	border:  none;
	text-align: left;
}

.ops-form{
	display: grid;
	grid-row-gap: 1.5em;
	border: 1px solid gray;
	width: 90%;
	margin-left: 5%;
	padding: 30px 10px;
	box-sizing: border-box;
	border-radius: 10px;
}

.ops-form > label{
	font-weight: bolder;
	font-size: 18px;
	background-color: white;
	padding: 10px 0;
	padding-left: 10px;
	box-sizing: border-box;
	color: gray;
}

.save_btn{
	background-color: purple;
	outline: 1px solid blue !important;
	padding: 8px 0;
	box-sizing: border-box;
	border-radius: 10px;
	color: white;
	font-weight: bolder;
	font-size: 14px;
	width: 20%;
	margin-left: 80%;
}

.save_btn:hover{
	cursor: pointer;
}
/***********************************************************************************************************************/
#prescription-control{
	display: block;
	box-sizing: border-box;
	width: 100%;
}

#save-presc-btn{
	margin-left: 58%;
}
.print_prescription{
	background-color: gray;
	outline: 1px solid black !important;
	padding: 8px 0;
	box-sizing: border-box;
	border-radius: 10px;
	color: white;
	font-weight: bolder;
	font-size: 14px;
	width: 20%;
	float: right;
}
.print_prescription:hover{
	cursor: pointer;
}

.clear_float{
	clear: both;
}
#print-prescription-div{
	display: none;
	position: absolute;
	z-index: 20;
	background-color: white;
	width: 70%;
	border: 2px solid darkgray;
	box-sizing: border-box;
	padding: 20px 0;
	margin-left: 15%;
}

#close-print-btn{
	display: none;
	position: fixed;
	border: 2px solid darkred;
	border-radius: 25px;
	color: red;
	box-sizing: border-box;
	width: 150px;
	height: 50px;
	left: 80%;
	z-index: 30;
	top: 35%;
	background-color: white;
}
#print-btn{
	display: none;
	position: fixed;
	border: 2px solid yellow;
	border-radius: 25px;
	color: white;
	box-sizing: border-box;
	width: 150px;
	height: 50px;
	left: 80%;
	z-index: 35;
	top: 45%;
	background-color: purple;
}
#close-print-btn:hover{
	cursor: pointer;
	border: 2px solid red;
}

#print-btn:hover{
	cursor: pointer;
	border: 2px solid blue;
}

.print_prescription_table{
				border: 1px solid black; 
				width: 700px;
				border-collapse: collapse;
				overflow-y: auto;
			}
			

			.prescription_thead{
				border: 1px solid black;

			}

			.prescription_tdata{
				border: 1px solid black;
			}
			.theadClass{
				border: none;
			}

			.drugs_prescribed{
				border: none;
			}
/*******************************************************************************************************************/
#assesment-form input[type=text]{
	padding: 10px 8px;
	box-sizing: border-box;
}
#emr-container{
	display: grid;
	grid-template-columns: 79% 19%;
	grid-column-gap: 1%;
	position: relative;
	width: 100%;
	padding: 40px 0px;
	box-sizing: border-box;
	background-color: white;
	color: gray;
	z-index: 100;
}

#emr-record-div{
	border: 1px solid gray;
	background-color: white;
	width: 100%;
	margin-left: 0%;
	color: white;
	border-radius: 15px;
	overflow-x: auto;
	font-size: 14px;
	color: black;
}

.emr_table{
	border: 1px solid black;
	border-collapse: collapse;
}

.emr_table td, th{
	border: 1px solid black;
}

.empty_td{
	border: none;
}

#emr-chargesheet{
	border: 1px solid black;
	width:  90%;
	height: 250px;
}

#emr-chargesheet:hover
{
	cursor: pointer;
}
#chargesheet-image
{
	width: 170px;
	height: 170px;
}

#enlarged-img-div
{
	display: none;
	position: relative;
	background-color: white;
	border:  2px solid gray;
	border-radius: 10px;
	z-index: 1000;
	width: 80%;
	height: 600px;
	margin-left: 10%;
}
#enlarged-img{
	width: 90%;
	margin-left: 5%;
}

.close{
	border: 1px solid gray;
	position: absolute;
	outline: red!important;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	box-sizing: border-box;
	font-weight: bolder;
}

.close:hover{
	cursor: pointer;
}

#close{
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	width: 50px;
	top: 0;
	right: 0;
	background-color: red;
	color: black;
	box-sizing: border-box;
	padding: 1px 2px;
}

#close:hover{
	border: 1px solid darkred;
	cursor:  pointer;
	color: white;
}

#table-header{
	text-align: center;
}