/*----------------------------------------------------------------------------------------------------------
overlay, server response dialog dialog 
-----------------------------------------------------------------------------------------------------------*/
#overlay{
	display: none;
	position: absolute;
	width:  100%;
	height: 100vh;
	background-color: black;
	opacity: 0.8;
	z-index: 20;
}

.error{
	border: 2px solid red;
	color: red;
}

.success{
	border: 2px solid green;
	color: green;
}

#server-message-response{
	display: none;
	position: absolute;
	width: 40%;
	border-radius: 10px;
	margin-left: 30%;
	height: 200px;
	background-color: white;
	z-index: 999;
}
#close-btn{
	border: 1px solid red;
	color: red;
	width: 60px;
	float: right;
	border-radius: 25px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
}
#close-btn:hover{
	color: white;
	background-color: red;
	cursor: pointer;
}

#message{
	box-sizing: border-box;
	padding: 10px 16px;
}

.clear_float{
	clear: both;
}
/*----------------------------------------------------------------------------------------------------------
staff regitration style section
----------------------------------------------------------------------------------------------------------*/
#staff-nav{
	margin-top: 30px;
	box-sizing: border-box;
	padding-left: 100px;
}

#staff-nav > button{
	border: 2px solid grey;
	background-color: skyblue;
	padding: 10px 0;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	font-weight: bold;
	color: grey;
}

#register-tab{
	background-color: red;
}

#staff-nav > button:hover{
	cursor: pointer;
	color: white;
	background-color: grey;
	border-color: whitesmoke;
}

#reg-content-div{
	display: block;
	width: 100%;
	margin-top: 50px;
	box-sizing: border-box;
	padding: 14px 16px;
}

#reg-content-div > h2{
	text-align: center;
}

#reg-form{
	display: grid;
	width: 70%;
	grid-template-columns: 20% 68% 2%;
	margin-left: 15%;
	grid-row-gap: 1.5em;
	grid-column-gap: 1em;
	box-sizing: border-box;
	padding: 20px 14px;
	border: 1px solid grey;
	background-color: grey;
	border-radius: 10px;
}

.star-w{
	color: white;
}

#reg-form > label{
	font-weight: bolder;
}

.field{
	border: 1px solid gray;
	padding: 5px 5px;
	border-radius: 10px;
}

#reg-btn{
	border: 1px solid purple;
	grid-column:  1/3;
	width: 30%;
	margin-left: 70%;
	padding: 8px 0;
	background-color: purple;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	transition: 1s;
}

#reg-btn:hover{
	cursor: pointer;
	background-color: blue;
}

/*----------------------------------------------------------------------------------------------------------
Update staff content style section
----------------------------------------------------------------------------------------------------------*/
#update-content-div{
	display: none;
	width: 100%;
	margin-top: 50px;
	box-sizing: border-box;
	padding: 14px 16px;
}

.staff-search{
	display: grid;
	border: 1px solid grey;
	box-sizing: border-box;
	padding: 10px 10px;
	width: 60%;
	margin-left: 20%;
	grid-row-gap: 2em;
	grid-template-columns: 70% 30%;
}

.search-email{
	padding: 5px 5px;
	border-radius: 10px;
}

.staff-search input[type=button]{
	width: 35%;
	font-weight: bolder;
	color: white;
	margin-left: 15%;
	background-color: #1e4e9c;
	border: 2px solid blue;
	border-radius: 10px;
}

.staff-search input[type=button]:hover{
	background-color: #3473d9;
	cursor: pointer;
}
.s-u-r-d{
	background-color: white;
	grid-column: 1/3;
	height: 150px;
	color: grey;
}

#s-r-b{
	width: 100%;
	overflow-x: hidden;
	border: 1px solid grey;
	padding: 14px 16px;
	box-sizing: border-box;
}

#update-form{
	display: grid;
	width: 50%;
	grid-template-columns: 20% 80%;
	margin-top: 20px;
	margin-left: 25%;
	grid-row-gap: 1.5em;
}

/*----------------------------------------------------------------------------------------------------------
Delete staff content style section
----------------------------------------------------------------------------------------------------------*/
#delete-content-div{
	display: none;
	width: 100%;
	margin-top: 50px;
	box-sizing: border-box;
	padding: 14px 16px;
}

#del-div{
	display: block;
	width: 60%;
	margin-top: 20px;
	margin-left: 20%;
	box-sizing: border-box;
	padding: 10px 14px;
	border: 1px solid grey;
}

#del-div > button{
	width: 30%;
	padding: 8px 0;
	background-color: #590707;
	color: red;
	border: 1px solid #e83c3c;
	font-weight: bolder;
	border-radius: 10px;
}

#del-div > button:hover{
	color: #590707;
	background-color: #eb0909;
	border-color: #590707;
}