/*----------------------------------------------------------------------------------------------------------
overlay, server response dialog dialog 
-----------------------------------------------------------------------------------------------------------*/
#overlay{
	display: none;
	position: absolute;
	width:  100%;
	height: 100vh;
	background-color: black;
	opacity: 0.8;
	z-index: 20;
}

.error{
	border: 2px solid red;
	color: red;
}

.success{
	border: 2px solid green;
	color: green;
}

#server-message-response{
	display: none;
	position: absolute;
	width: 40%;
	border-radius: 10px;
	margin-left: 30%;
	height: 200px;
	background-color: white;
	z-index: 999;
}
#close-btn{
	border: 1px solid red;
	color: red;
	width: 60px;
	float: right;
	border-radius: 25px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
}
#close-btn:hover{
	color: white;
	background-color: red;
	cursor: pointer;
}

#message{
	box-sizing: border-box;
	padding: 10px 16px;
}

.clear_float{
	clear: both;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
#notification-div{
	width: 100%;
	position: absolute;
	height: 60px;
	box-sizing: border-box;
	padding: 10px;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
}

.success_class{
	display: block;
	background-color: green;
	color: white;
}

.error_class{
	display: block;
	background-color: green;
	color: darkgray;
}

#search-container{
	display: grid;
	width: 80%;
	box-sizing: border-box;
	border: 1px solid gray;
	margin-left: 10%;
	border-radius: 10px;
	grid-row-gap: 20px;
	border-radius: 10px;
	margin-top: 30px;
}

#search-field{
	width: 90%;
	margin-left: 5%;
	padding: 10px 5px;
	box-sizing: border-box;
	margin-top: 16px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	color: gray;
	background-color: white;
}

#search-results{
	border: 1px solid gray;
	width: 90%;
	height: 150px;
	margin-left: 5%;
	box-sizing: border-box;
	padding: 10px 16px;
	margin-top: 20px;
	border-radius: 10px;
	font-style: italic;
	background-color: white;
	color: grey;
	margin-bottom: 10px;
	overflow-y: auto;
	line-height: 1.5em;
	font-style: italic;
}

#rlist{
	color: red;
	font-size: 14px;
}

#rlist:hover{
	background-color: purple;
	cursor: pointer;
}
/******************************************************************************************************************************/

#patient-details{
	width: 80%;
	margin-left: 10%;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 20px;
}
/*******************************************************************************************************************************/
#vitals-div{
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
	margin-top: 50px;
	display: grid;
	grid-row-gap: 20px;
	border: 1px solid gray;
}
.form-header{
	text-align: center;

}
#vitals-form{
	display: grid;
	grid-template-columns: 20% 70% 10%;
	grid-row-gap: 1.5em;
	box-sizing: border-box;
	width: 70%;
	margin-left: 15%;
	grid-column-gap: 10px;
}

.fields{
	box-sizing: border-box;
	padding: 5px 5px;
	border-radius: 10px;
}

#vitals-btn{
	grid-column: 1/4;
	padding: 8px 0;
	box-sizing: border-box;
	background-color: blue;
	color: white;
	border: 1px solid blue;
	font-weight: bolder;
	font-size: 18px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

sub{
	vertical-align: sub;
	font-size: small;
}

sup{
	vertical-align: super;
	font-size: medium;
}

#history-textarea{
	width: 100%;
	grid-column: 2/3;
}